@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
	font-family: "DM Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
	@apply text-white bg-dark antialiased;
	}
	h1, h2, h3, h4, h5, h6 {
	  font-family: "Link Sans", "Work Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
	}
}

.grid-background {
  background-size: 50px 50px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.05) 1px, transparent 1px),
                    linear-gradient(to bottom, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
}

/* Hide scrollbars globally but keep scrolling functional */
* {
  scrollbar-width: none;       /* Firefox */
  -ms-overflow-style: none;    /* IE and old Edge */
}

*::-webkit-scrollbar {
  display: none;               /* Chrome, Safari, new Edge */
}
